* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
  }
  
  body {
    font-size: 30px;
    color: black;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    background-color:#E1ECF0;
    /*margin: 0px;*/
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 42px;
    color: #003A64
}

/*styling the navbar*/
/*.nav {
  height: 40px;
  width: 100%;
  background-color:#E1ECF0;
  position: fixed;
  color: #54A2D2;
}

.nav > .nav-header {
  display: inline;
  color: #54A2D2;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  float: left;
  font-size: 26px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 26px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}


.nav {
  font-size: 50px;
}
.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 3px solid #102345;
}
.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.nav > .nav-links > a {
  display: block;
  width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
*/

/* Style the navigation menu */

#title {
  color: #003A64;
}
.topnav {
  overflow: hidden;
  background-color:#003A64;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color:#ddd;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #f4f7f4;
  color: white;
}


/*styling the background cover*/
  #cover {
    width: 100%;
    height: 100%;
    background-image: url('https://iili.io/JPfYeR.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 12% 0;
  }

  /*styling my banner*/
  #heading{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #E1ECF0;
    text-shadow: -1px 2px 0 #003A64,
				2px 2px 0 #003A64,
				2px -2px 0 #003A64,
				-2px -2px 0 #003A64;
  }

  #header {
    padding: 12% 0;
  }

  /*styling profile picture*/
  .lauraimg {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
  }

    /* styling "what I am and What I am doing section */
  .info {
    margin: 40px;
    border-bottom: 10px solid black;
  }

  /* styling project thumbnail images */
.quizimg,
.pigimg,
.cryptoimg,
.trailsimg,
.rfinderimg {
  border: 2px solid black;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
 /* styling project container */
 .project {
  margin: 5% 10%;
}
  /* styling each individual project */
  #projects {
    padding: 5% 5%;
  }

  .title {
    padding-bottom: 10%;
  }
  
  /* making sure the projects wrap nicely when the screen size changes */
  .project-list {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  p {
    font-size: 24px;
  }
  
/* styling the contact section */
  .end {
    border-top: 6px solid black;
  }
  #contact {
      display: flex;
      justify-content: center;
      align-content: space-between;
  }
/* putting space between the logo images */
  .logo{
    margin: 10% 10%;
    }
  
  button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    }
  .scroll { 
    height: 1000px; 
    } 
  

/*adding a media query for larger screens*/
  @media only screen and (min-width: 600px) {
   
}

/*adding a media query for smaller screens*/
@media (max-width:600px) {
  #about {
    display: flex;
    flex-wrap: wrap;
  }  
  .project-list {
    justify-content: center;
    text-align: center;
  }
  
  .img {
    margin: 0 auto;
    width: 90%;
  }

  p {
    font-size: 12px;
  }
  #myLinks{
    font-size: 24px;
  }
  }