* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 20px;
    color: black;
    
    /*line-height: 1.5;*/
  }

  /*styling the header*/
  #top {
    color: #F1FBFD;
    font-size: 32px;
    }
  
    /*styling the navbar*/
  nav {
    position: fixed;
    right: 2%;
    z-index: 10000;

  }
  
  ul {
    list-style: none;
  }
  
  nav > ul li {
    display: block;
    width: 100px;
    background-color: none;
    height: 20px;
  }
  
  .navHidden {
    display: none;
  }

  /*styling my name/logo(if I later choose to add one)*/
  #name {
    display: block;
    position: fixed;
    left: 2%;
    z-index: 10000;
    font-size: 45px;
    padding-top: 2%;
  }

/*styling the background cover*/
  #cover {
    width: 100%;
    height: 100%;
    background-image: url('https://iili.io/JrXgcu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #heading{
    text-align: center;
    font-family: "Proza Libre";
    font-size: 50px;
    color: #F1FBFD;
  }

  header {
    padding: 12% 0;
  }

  .lauraimg {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
  }

  .bio {
    margin: 40px;
  }













/*************************************/
/*adding a media query for larger screens*/
@media only screen and (min-width: 800px) {
  nav > ul {
    display: block;
  }

  .navHidden {
    display: block;
  }

  nav li {
    float: left;
  }

  .burger {
    display: none;
  }

  main {
   display: flex;
 }
  .product {
   flex:1;
  }

  .project {
    flex: 1
  }
}

.quizimg {
  border: 2px solid black;
}

/*************************************/
  
  #projects {
    padding: 10% 10%;
    background-color: lightgray;
  }
  
  .project-title {
    font-size: 25px;
  }
  
  .project-list {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .picture {
    width: 20%;
    height: 20%;
    float: left;
  }
  
  
  .project-pic{
    height: 80px;
    width: 60px;
    background-color: black;
    margin: 0 auto;
  }
  
  #contact{
    padding: 10% 10%;
    background-color: #ddd;
  }
  
  .btn-logo{
    display: inline-block;
    width: 30px;
    height: 30px;
  }